openapi: 3.2.0
info:
  title: organisation-data-terminology-api Organization API
  version: 1.0.1-alpha
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: '## Overview

    Use this API to access a dataset of health and social care organisations, such as trusts or GP practices, using the Organisation Data Service (ODS).'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
tags:
- name: Organization
paths:
  /Organization:
    get:
      summary: Search for an organisation
      operationId: get-organization-resources
      description: '## Overview

        Use this endpoint to search for organisations or sites. Site codes which are supported for certain organisations can also be accessed here, there is no separate endpoint for sites.


        A FHIR Organization resource will be provided for each search result.


        You can search for information about an organisation using one or more of their:


        * ODS code

        * last change date

        * name

        * active or inactive status

        * address, city or postcode

        * organisation''s primary role using RoleID, such as RO197 (NHS Trust) or RO167 (Optical Site)

        * organisation''s non-primary role using RoleID, such as RO7 (Hospice) or RO318 (Integrated Care Board)


        This API returns the following details for an organisation:


        * organisation - ODS code, name, last change date, status if active or inactive , record class (organisation or site), record use type; A complete record or a reduced record included solely for referential integrity.

        * address - house or flat number, line 1, line 2, line 3, town, postcode, Unique Property Reference Number (UPRN) and country

        * contacts - website and telephone (where available)

        * roles - primary and non-primary roles including legal and operational start and end dates


        You can also request any related relations resources using the `_revinclude` parameter to return an OrganizationAffiliation Resource.


        You can try out the sandbox using the ''Try this API'' feature on this page. (Coming Soon!)


        Alternatively, you can try out the sandbox using our Postman collection (placeholder link):


        ![Run in Postman](https://app.getpostman.com/run-collection/32547823-005ebee4-7510-44c3-bb0e-58f26b2ba747)'
      parameters:
      - in: query
        name: _id
        description: "The organisation’s ODS code.  \n\nIf you already know the ODS code, use the `Get organisation details` endpoint instead.\n"
        required: false
        schema:
          type: string
          example: RR8
      - in: query
        name: identifier
        description: "The organisation's ODS code.  \n\nThis parameter is similar to `_id` but can also explicitly include the CodeSystem for the ID - which must be `ods-organization-code`.  \n\nIt's included for FHIR compatibility. \n"
        required: false
        schema:
          type: string
        examples:
          without-code-system:
            summary: 'A search using just the ID:'
            value: G81086
          with-code-system:
            summary: 'A search using the code system and ID:'
            value: https://fhir.nhs.uk/Id/ods-organization-code|G81086
      - in: query
        name: lastChangeDate
        description: The date that the organisation record was last modified by ODS. Supports greater than, less and equal to. Can be compounded.
        required: false
        schema:
          type: string
        examples:
          greater-than:
            summary: Search for changes made after a date
            value: gt2017-04-01
          less-than:
            summary: Search for changes made before a date
            value: lt2017-04-01
          equal-to:
            summary: Search for changes made on a single date
            value: '2024-02-06'
      - in: query
        name: name
        description: 'The start of the organisation''s name. For example, `Leeds` would match `Leeds Chest Clinic` but not `South Leeds Clinical Assessment Service`.


          To search anywhere in the organisation''s name, use `name:contains`. To search for an exact match, use `name:exact`.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 3 characters and a maximum of 100 characters

          - only include the following characters: A-Z a-z 0-9 &()’+-_./:@ ''Space''

          '
        required: false
        schema:
          type: string
          example: Leeds
      - in: query
        name: name:contains
        description: 'Any part of the organisation''s name. For example, `Leeds` would match `Leeds Chest Clinic` and `South Leeds Clinical Assessment Service`.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 3 characters and a maximum of 100 characters

          - only include the following characters: A-Z a-z 0-9 &()’+-_./:@ ''Space''

          '
        required: false
        schema:
          type: string
          example: Leeds
      - in: query
        name: name:exact
        description: 'The exact organisation name.


          Case sensitive.


          Search expressions must:

          - contain a minimum of 3 characters and a maximum of 100 characters

          - only include the following characters: A-Z a-z 0-9 &()’+-_./:@ ''Space''

          '
        required: false
        schema:
          type: string
          example: LEEDS TEACHING HOSPITALS NHS TRUST
      - in: query
        name: active
        description: Whether the organisation's record is still in active use.
        required: false
        schema:
          type: boolean
          example: 'true'
      - in: query
        name: address-postalcode
        description: 'The start of the organisation''s postcode.


          To search anywhere in the postcode, use `address-postalcode:contains`. To search for an exact match, use `address-postalcode:exact`.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: LS1
      - in: query
        name: address-postalcode:contains
        description: 'Any part of the organisation''s postcode.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: 4DZ
      - in: query
        name: address-postalcode:exact
        description: 'The exact organisation postcode.


          Case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: LS1 4DZ
      - in: query
        name: address-city
        description: 'The start of the organisation''s city address.


          To search anywhere in the city address, use `address-city:contains`. To search for an exact match, use `address-city:exact`.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: Derby
      - in: query
        name: address-city:contains
        description: 'Any part of the organisation''s city address.


          Not case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: Derby
      - in: query
        name: address-city:exact
        description: 'The exact organisation city address.


          Case sensitive.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: DERBY
      - in: query
        name: address-country
        description: 'The start of the  organisation''s country.


          Not case sensitive.


          To search anywhere in the country address, use `address-country:contains`. To search for an exact match, use `address-country:exact`.


          Search expressions must:

          - contain a minimum of 2 characters

          - only include alphanumeric characters and spaces

          '
        required: false
        schema:
          type: string
          example: ENGLAND
      - in: query
        name: roleCode
        description: "The organisation's role, based on the `ODSOrganisationRole` CodeSystem.\n\nAn organisation in ODS can have one or many roles.\n\nTo exclude organisations with a specific role use `roleCode:not` \n\nTo search for organisations that have multiple roles (like an 'AND' operator), include the `roleCode` query parameter multiple times. \n\nTo search for organisations that have one of several roles (like an 'OR' operator), use a comma separator. \n\nYou may combine 'AND' and 'OR' searches.\n\nTo discover whether a role is primary or non-primary, refer to the `ODSOrganisationRelationship` CodeSystem \n"
        required: false
        schema:
          type: string
        examples:
          without-code-system:
            summary: 'A search using just the role code (RO197 = NHS trust):'
            value: RO197
          with-code-system:
            summary: 'A search using the code system and role code:'
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole|RO197
          multiple-roles:
            summary: 'A search for multiple roles (like an ''OR'' operator):'
            value: RO197,RO198
          coumpound-roles:
            summary: 'A search for combined roles (like an ''AND'' operator):'
            value: roleCode=RO197&roleCode=RO7
      - in: query
        name: roleCode:not
        description: "Exclude organisations from the search results based on their role \n"
        required: false
        schema:
          type: string
        examples:
          compound:
            summary: A search combining roleCode and roleCode:not
            value: roleCode=RO177&roleCode:not=RO76
          single:
            summary: 'A search using the code system and role code:'
            value: roleCode:not=https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole|RO197
      - in: query
        name: activeRoleCode
        description: "Searches only active roles within the `ODSOrganisationRole` CodeSystem \n\nTo exclude organisations with a specific role use `activeRoleCode:not` \nTo search for organisations that have multiple roles (like an 'AND' operator), include the `activeRoleCode` query parameter multiple times. \n\nTo search for organisations that have one of several roles (like an 'OR' operator), use a comma separator. \n\nYou may combine 'AND' and 'OR' searches.\n\nTo discover whether a role is primary or non-primary, refer to the `ODSOrganisationRelationship` CodeSystem \n"
        required: false
        schema:
          type: string
        examples:
          without-code-system:
            summary: 'A search using just the role code (RO197 = NHS trust):'
            value: RO197
          with-code-system:
            summary: 'A search using the code system and role code:'
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole|RO197
          multiple-roles:
            summary: 'A search for multiple roles (like an ''OR'' operator):'
            value: RO197,RO198
      - in: query
        name: _count
        description: Number of results to return.
        required: false
        schema:
          type: string
          example: '1000'
      - in: query
        name: _summary
        description: Return a count of the matching resources, without returning the actual matches.
        required: false
        schema:
          type: string
          enum:
          - count
      - in: query
        name: _offset
        description: When used with _count, enables paging through large result sets
        required: false
        schema:
          type: string
          example: 2000
      responses:
        '200':
          description: Valid request that returns a FHIR Organization resource(s) that match the search criteria (which may be 0).
          content:
            application/fhir+json:
              example:
                resourceType: Bundle
                id: d84a1a14-d90f-4dd7-a5bc-b5e56a81d1af
                meta:
                  lastUpdated: '2024-03-14T11:03:31.163+00:00'
                type: searchset
                link:
                - relation: self
                  url: https://jenkins.ods.dc4h.link/fhir/Organization?_count=2&lastChangeDate=lt2023-05-04&lastChangeDate=gt2023-05-02
                - relation: next
                  url: https://jenkins.ods.dc4h.link/fhir/Organization?_count=2&_offset=2&lastChangeDate=lt2023-05-04&lastChangeDate=gt2023-05-02
                entry:
                - fullUrl: https://jenkins.ods.dc4h.link/fhir/Organization/AQN
                  resource:
                    resourceType: Organization
                    id: AQN
                    meta:
                      versionId: '3'
                      lastUpdated: '2024-01-23T12:56:03.130+00:00'
                      source: '#df0974983053aca7'
                      profile:
                      - https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization
                      - https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS
                    extension:
                    - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole
                      extension:
                      - url: instanceID
                        valueInteger: 233160
                      - url: roleCode
                        valueCodeableConcept:
                          coding:
                          - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                            code: RO172
                            display: INDEPENDENT SECTOR HEALTHCARE PROVIDER
                      - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                        extension:
                        - url: dateType
                          valueCoding:
                            system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                            code: Legal
                            display: Legal
                        - url: period
                          valuePeriod:
                            start: '2015-04-01'
                      - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                        extension:
                        - url: dateType
                          valueCoding:
                            system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                            code: Operational
                            display: Operational
                        - url: period
                          valuePeriod:
                            start: '2015-04-01'
                      - url: active
                        valueBoolean: true
                    - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime
                      extension:
                      - url: type
                        valueCoding:
                          system: https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime
                          code: LastChangeDate
                          display: Last Change Date
                      - url: dateTime
                        valueDateTime: '2023-05-03'
                    identifier:
                    - use: official
                      system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: AQN
                      assigner:
                        display: HSCIC
                    active: true
                    type:
                    - coding:
                      - system: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
                        code: Full
                        display: Full
                    - coding:
                      - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                        code: RC1
                        display: HSCOrg
                    name: PARTNERING HEALTH LIMITED
                    address:
                    - line:
                      - AILSA HOUSE 3 TURNBERRY HOUSE
                      - 4400 PARKWAY
                      - WHITELEY
                      city: FAREHAM
                      postalCode: PO15 7FJ
                      country: ENGLAND
                  search:
                    mode: match
                - fullUrl: https://jenkins.ods.dc4h.link/fhir/Organization/C4O9I
                  resource:
                    resourceType: Organization
                    id: C4O9I
                    meta:
                      versionId: '3'
                      lastUpdated: '2024-01-23T13:00:38.788+00:00'
                      source: '#b71fdedd3d5fad9e'
                      profile:
                      - https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization
                      - https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS
                    extension:
                    - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole
                      extension:
                      - url: instanceID
                        valueInteger: 503768
                      - url: roleCode
                        valueCodeableConcept:
                          coding:
                          - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                            code: RO181
                            display: PHARMACY HEADQUARTER
                      - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                        extension:
                        - url: dateType
                          valueCoding:
                            system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                            code: Legal
                            display: Legal
                        - url: period
                          valuePeriod:
                            start: '2023-04-28'
                      - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                        extension:
                        - url: dateType
                          valueCoding:
                            system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                            code: Operational
                            display: Operational
                        - url: period
                          valuePeriod:
                            start: '2023-04-28'
                      - url: active
                        valueBoolean: true
                    - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime
                      extension:
                      - url: type
                        valueCoding:
                          system: https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime
                          code: LastChangeDate
                          display: Last Change Date
                      - url: dateTime
                        valueDateTime: '2023-05-03'
                    identifier:
                    - use: official
                      system: https://fhir.nhs.uk/Id/ods-organization-code
                      value: C4O9I
                      assigner:
                        display: NHS ENGLAND
                    active: true
                    type:
                    - coding:
                      - system: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
                        code: Full
                        display: Full
                    - coding:
                      - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                        code: RC1
                        display: HSCOrg
                    name: WM BROWN (KINGSHURST) LIMITED
                    address:
                    - extension:
                      - url: https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey
                        extension:
                        - url: type
                          valueCodeableConcept:
                            coding:
                            - system: https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType
                              code: UPRN
                              display: Unique Property Reference Number
                        - url: value
                          valueString: '100071397351'
                      line:
                      - 228-230 WYCHALL ROAD
                      city: BIRMINGHAM
                      postalCode: B31 3AU
                      country: ENGLAND
                  search:
                    mode: match
            application/fhir+xml:
              example: "<Bundle xmlns=\"http://hl7.org/fhir\">\n  <id value=\"b520b6b6-7a91-4672-8efd-832b9305cb79\"/>\n  <meta>\n      <lastUpdated value=\"2024-03-14T11:03:39.425+00:00\"/>\n  </meta>\n  <type value=\"searchset\"/>\n  <link>\n      <relation value=\"self\"/>\n      <url value=\"https://jenkins.ods.dc4h.link/fhir/Organization?_count=2&amp;_format=xml&amp;lastChangeDate=lt2023-05-04&amp;lastChangeDate=gt2023-05-02\"/>\n  </link>\n  <link>\n      <relation value=\"next\"/>\n      <url value=\"https://jenkins.ods.dc4h.link/fhir/Organization?_count=2&amp;_format=xml&amp;_offset=2&amp;lastChangeDate=lt2023-05-04&amp;lastChangeDate=gt2023-05-02\"/>\n  </link>\n  <entry>\n      <fullUrl value=\"https://jenkins.ods.dc4h.link/fhir/Organization/AQN\"/>\n      <resource>\n          <Organization xmlns=\"http://hl7.org/fhir\">\n              <id value=\"AQN\"/>\n              <meta>\n                  <versionId value=\"3\"/>\n                  <lastUpdated value=\"2024-01-23T12:56:03.130+00:00\"/>\n                  <source value=\"#df0974983053aca7\"/>\n                  <profile value=\"https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization\"/>\n                  <profile value=\"https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS\"/>\n              </meta>\n              <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole\">\n                  <extension url=\"instanceID\">\n                      <valueInteger value=\"233160\"/>\n                  </extension>\n                  <extension url=\"roleCode\">\n                      <valueCodeableConcept>\n                          <coding>\n                              <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole\"/>\n                              <code value=\"RO172\"/>\n                              <display value=\"INDEPENDENT SECTOR HEALTHCARE PROVIDER\"/>\n                          </coding>\n                      </valueCodeableConcept>\n                  </extension>\n                  <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n                      <extension url=\"dateType\">\n                          <valueCoding>\n                              <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                              <code value=\"Legal\"/>\n                              <display value=\"Legal\"/>\n                          </valueCoding>\n                      </extension>\n                      <extension url=\"period\">\n                          <valuePeriod>\n                              <start value=\"2015-04-01\"/>\n                          </valuePeriod>\n                      </extension>\n                  </extension>\n                  <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n                      <extension url=\"dateType\">\n                          <valueCoding>\n                              <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                              <code value=\"Operational\"/>\n                              <display value=\"Operational\"/>\n                          </valueCoding>\n                      </extension>\n                      <extension url=\"period\">\n                          <valuePeriod>\n                              <start value=\"2015-04-01\"/>\n                          </valuePeriod>\n                      </extension>\n                  </extension>\n                  <extension url=\"active\">\n                      <valueBoolean value=\"true\"/>\n                  </extension>\n              </extension>\n              <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime\">\n                  <extension url=\"type\">\n                      <valueCoding>\n                          <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime\"/>\n                          <code value=\"LastChangeDate\"/>\n                          <display value=\"Last Change Date\"/>\n                      </valueCoding>\n                  </extension>\n                  <extension url=\"dateTime\">\n                      <valueDateTime value=\"2023-05-03\"/>\n                  </extension>\n              </extension>\n              <identifier>\n                  <use value=\"official\"/>\n                  <system value=\"https://fhir.nhs.uk/Id/ods-organization-code\"/>\n                  <value value=\"AQN\"/>\n                  <assigner>\n                      <display value=\"HSCIC\"/>\n                  </assigner>\n              </identifier>\n              <active value=\"true\"/>\n              <type>\n                  <coding>\n                      <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType\"/>\n                      <code value=\"Full\"/>\n                      <display value=\"Full\"/>\n                  </coding>\n              </type>\n              <type>\n                  <coding>\n                      <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass\"/>\n                      <code value=\"RC1\"/>\n                      <display value=\"HSCOrg\"/>\n                  </coding>\n              </type>\n              <name value=\"PARTNERING HEALTH LIMITED\"/>\n              <address>\n                  <line value=\"AILSA HOUSE 3 TURNBERRY HOUSE\"/>\n                  <line value=\"4400 PARKWAY\"/>\n                  <line value=\"WHITELEY\"/>\n                  <city value=\"FAREHAM\"/>\n                  <postalCode value=\"PO15 7FJ\"/>\n                  <country value=\"ENGLAND\"/>\n              </address>\n          </Organization>\n      </resource>\n      <search>\n          <mode value=\"match\"/>\n      </search>\n  </entry>\n  <entry>\n      <fullUrl value=\"https://jenkins.ods.dc4h.link/fhir/Organization/C4O9I\"/>\n      <resource>\n          <Organization xmlns=\"http://hl7.org/fhir\">\n              <id value=\"C4O9I\"/>\n              <meta>\n                  <versionId value=\"3\"/>\n                  <lastUpdated value=\"2024-01-23T13:00:38.788+00:00\"/>\n                  <source value=\"#b71fdedd3d5fad9e\"/>\n                  <profile value=\"https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization\"/>\n                  <profile value=\"https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS\"/>\n              </meta>\n              <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole\">\n                  <extension url=\"instanceID\">\n                      <valueInteger value=\"503768\"/>\n                  </extension>\n                  <extension url=\"roleCode\">\n                      <valueCodeableConcept>\n                          <coding>\n                              <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole\"/>\n                              <code value=\"RO181\"/>\n                              <display value=\"PHARMACY HEADQUARTER\"/>\n                          </coding>\n                      </valueCodeableConcept>\n                  </extension>\n                  <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n                      <extension url=\"dateType\">\n                          <valueCoding>\n                              <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                              <code value=\"Legal\"/>\n                              <display value=\"Legal\"/>\n                          </valueCoding>\n                      </extension>\n                      <extension url=\"period\">\n                          <valuePeriod>\n                              <start value=\"2023-04-28\"/>\n                          </valuePeriod>\n                      </extension>\n                  </extension>\n                  <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n                      <extension url=\"dateType\">\n                          <valueCoding>\n                              <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                              <code value=\"Operational\"/>\n                              <display value=\"Operational\"/>\n                          </valueCoding>\n                      </extension>\n                      <extension url=\"period\">\n                          <valuePeriod>\n                              <start value=\"2023-04-28\"/>\n                          </valuePeriod>\n                      </extension>\n                  </extension>\n                  <extension url=\"active\">\n                      <valueBoolean value=\"true\"/>\n                  </extension>\n              </extension>\n              <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime\">\n                  <extension url=\"type\">\n                      <valueCoding>\n                          <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime\"/>\n                          <code value=\"LastChangeDate\"/>\n                          <display value=\"Last Change Date\"/>\n                      </valueCoding>\n                  </extension>\n                  <extension url=\"dateTime\">\n                      <valueDateTime value=\"2023-05-03\"/>\n                  </extension>\n              </extension>\n              <identifier>\n                  <use value=\"official\"/>\n                  <system value=\"https://fhir.nhs.uk/Id/ods-organization-code\"/>\n                  <value value=\"C4O9I\"/>\n                  <assigner>\n                      <display value=\"NHS ENGLAND\"/>\n                  </assigner>\n              </identifier>\n              <active value=\"true\"/>\n              <type>\n                  <coding>\n                      <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType\"/>\n                      <code value=\"Full\"/>\n                      <display value=\"Full\"/>\n                  </coding>\n              </type>\n              <type>\n                  <coding>\n                      <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass\"/>\n                      <code value=\"RC1\"/>\n                      <display value=\"HSCOrg\"/>\n                  </coding>\n              </type>\n              <name value=\"WM BROWN (KINGSHURST) LIMITED\"/>\n              <address>\n                  <extension url=\"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\">\n                      <extension url=\"type\">\n                          <valueCodeableConcept>\n                              <coding>\n                                  <system value=\"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"/>\n                                  <code value=\"UPRN\"/>\n                                  <display value=\"Unique Property Reference Number\"/>\n                              </coding>\n                          </valueCodeableConcept>\n                      </extension>\n                      <extension url=\"value\">\n                          <valueString value=\"100071397351\"/>\n                      </extension>\n                  </extension>\n                  <line value=\"228-230 WYCHALL ROAD\"/>\n                  <city value=\"BIRMINGHAM\"/>\n                  <postalCode value=\"B31 3AU\"/>\n                  <country value=\"ENGLAND\"/>\n              </address>\n          </Organization>\n      </resource>\n      <search>\n          <mode value=\"match\"/>\n      </search>\n  </entry>\n</Bundle>\n"
        4XX:
          description: 'An error occurred as follows:


            | HTTP Code   | issue.severity | issue.code    | issue.details.code  | issue.details.display |

            |------------ |----------------|---------------|---------------------|---------------------  |

            |400          |error           |invalid        |HAPI-1940            |Invalid Date/Time/Quantity format |

            |400          |error           |invalid        |HAPI-0524            |Unknown Search Parameter|

            |404          |error           |invalid        |HAPI-2001             |Organization not found  |

            |405          |error           |method not allowed|HAPI-0427         |Method Not Allowed      |

            '
          content:
            application/fhir+json:
              example:
                resourceType: OperationOutcome
                text:
                  status: generated
                  div: '<div xmlns="http://www.w3.org/1999/xhtml"><h1>Operation Outcome</h1><table border="0"><tr><td style="font-weight: bold;">ERROR</td><td>[]</td><td>HAPI-0524: Unknown search parameter &quot;count&quot; for resource type &quot;Organization&quot;. Valid search parameters for this search are: [_content, _id, _lastUpdated, _profile, _security, _source, _tag, _text, active, activeRoleCode, address, address-city, address-country, address-postalcode, address-state, address-use, endpoint, identifier, lastChangeDate, name, partof, phonetic, roleCode, type]</td></tr></table></div>'
                issue:
                - severity: error
                  code: processing
                  diagnostics: 'HAPI-0524: Unknown search parameter "count" for resource type "Organization". Valid search parameters for this search are: [_content, _id, _lastUpdated, _profile, _security, _source, _tag, _text, active, activeRoleCode, address, address-city, address-country, address-postalcode, address-state, address-use, endpoint, identifier, lastChangeDate, name, partof, phonetic, roleCode, type]'
            application/xml:
              example: "<OperationOutcome xmlns=\"http://hl7.org/fhir\">\n    <text>\n        <status value=\"generated\"/>\n        <div xmlns=\"http://www.w3.org/1999/xhtml\">\n            <h1>Operation Outcome</h1>\n            <table border=\"0\">\n                <tr>\n                    <td style=\"font-weight: bold;\">ERROR</td>\n                    <td>[]</td>\n                    <td>HAPI-0524: Unknown search parameter &quot;count&quot; for resource type &quot;Organization&quot;. Valid search parameters for this search are: [_content, _id, _lastUpdated, _profile, _security, _source, _tag, _text, active, activeRoleCode, address, address-city, address-country, address-postalcode, address-state, address-use, endpoint, identifier, lastChangeDate, name, partof, phonetic, roleCode, type]</td>\n                </tr>\n            </table>\n        </div>\n    </text>\n    <issue>\n        <severity value=\"error\"/>\n        <code value=\"processing\"/>\n        <diagnostics value=\"HAPI-0524: Unknown search parameter &quot;count&quot; for resource type &quot;Organization&quot;. Valid search parameters for this search are: [_content, _id, _lastUpdated, _profile, _security, _source, _tag, _text, active, activeRoleCode, address, address-city, address-country, address-postalcode, address-state, address-use, endpoint, identifier, lastChangeDate, name, partof, phonetic, roleCode, type]\"/>\n    </issue>\n</OperationOutcome>\n    \n"
      tags:
      - Organization
  /Organization/{id}:
    get:
      summary: Get organisation details
      operationId: get-single-organization
      description: '## Overview

        Use this endpoint to get details for a single organisation based on its ODS code. Site codes which are supported for certain organisations can also be accessed here, there is not a separate endpoint for sites. A FHIR Organization resource will be provided when a valid id has been provided.


        ## What is included

        This API returns the following details for an organisation:


        * organisation - ODS code, name, last change date, status if active or inactive , record class (organisation or site), record use type; A complete record or a reduced record included solely for referential integrity.

        * address - house or flat number, line 1, line 2, line 3, town, postcode, Unique Property Reference Number (UPRN) and country

        * contacts - website and telephone (where available)

        * roles - primary and non-primary roles including legal and operational start and end dates


        To access a richer Organisation dataset, use the ods-organization-code CodeSystem, when searching the CodeSystem resource with an ODS Code, in addition to the above, the following will also be returned:


        * organisation –Assigning Authority

        * related entities, the current related entity of any supported relationships

        * succession - any predecessors and/or successors and a flag to indicate the successor has also been succeeded

        * geographic - the appropriate mapping from the postcode dataset including Local Authority, Integrated Care Board or Lower Super Output Area (LSOA)'
      parameters:
      - in: path
        name: id
        description: 'The organisation''s ODS code.

          '
        required: true
        schema:
          type: string
          example: RR8
      responses:
        '200':
          description: Valid request that returns a FHIR Organisation resource
          content:
            application/fhir+json:
              example:
                resourceType: Organization
                id: RR8
                meta:
                  versionId: '4'
                  lastUpdated: '2024-01-23T13:37:16.122+00:00'
                  source: '#42f81a2818154581'
                  profile:
                  - https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS
                  - https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization
                extension:
                - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole
                  extension:
                  - url: instanceID
                    valueInteger: 37525
                  - url: roleCode
                    valueCodeableConcept:
                      coding:
                      - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                        code: RO197
                        display: NHS TRUST
                  - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                    extension:
                    - url: dateType
                      valueCoding:
                        system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                        code: Legal
                        display: Legal
                    - url: period
                      valuePeriod:
                        start: '1998-04-01'
                  - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod
                    extension:
                    - url: dateType
                      valueCoding:
                        system: https://fhir.nhs.uk/England/CodeSystem/England-PeriodType
                        code: Operational
                        display: Operational
                    - url: period
                      valuePeriod:
                        start: '1998-04-01'
                  - url: active
                    valueBoolean: true
                - url: https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime
                  extension:
                  - url: type
                    valueCoding:
                      system: https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime
                      code: LastChangeDate
                      display: Last Change Date
                  - url: dateTime
                    valueDateTime: '2023-11-14'
                identifier:
                - use: official
                  system: https://fhir.nhs.uk/Id/ods-organization-code
                  value: RR8
                  assigner:
                    display: HSCIC
                active: true
                type:
                - coding:
                  - system: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
                    code: Full
                    display: Full
                - coding:
                  - system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                    code: RC1
                    display: HSCOrg
                name: LEEDS TEACHING HOSPITALS NHS TRUST
                telecom:
                - system: phone
                  value: 0113 243 3144
                - system: url
                  value: HTTPS://WWW.LEEDSTH.NHS.UK/
                address:
                - extension:
                  - url: https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey
                    extension:
                    - url: type
                      valueCodeableConcept:
                        coding:
                        - system: https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType
                          code: UPRN
                          display: Unique Property Reference Number
                    - url: value
                      valueString: '72016246'
                  line:
                  - ST. JAMES'S UNIVERSITY HOSPITAL
                  - BECKETT STREET
                  city: LEEDS
                  postalCode: LS9 7TF
                  country: ENGLAND
            application/xml:
              example: "<Organization xmlns=\"http://hl7.org/fhir\">\n    <id value=\"RR8\"/>\n    <meta>\n        <versionId value=\"4\"/>\n        <lastUpdated value=\"2024-01-23T13:37:16.122+00:00\"/>\n        <source value=\"#42f81a2818154581\"/>\n        <profile value=\"https://fhir.nhs.uk/England/StructureDefinition/England-Organization-ODS\"/>\n        <profile value=\"https://fhir.hl7.org.uk/StructureDefinition/UKCore-Organization\"/>\n    </meta>\n    <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-OrganisationRole\">\n        <extension url=\"instanceID\">\n            <valueInteger value=\"37525\"/>\n        </extension>\n        <extension url=\"roleCode\">\n            <valueCodeableConcept>\n                <coding>\n                    <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole\"/>\n                    <code value=\"RO197\"/>\n                    <display value=\"NHS TRUST\"/>\n                </coding>\n            </valueCodeableConcept>\n        </extension>\n        <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n            <extension url=\"dateType\">\n                <valueCoding>\n                    <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                    <code value=\"Legal\"/>\n                    <display value=\"Legal\"/>\n                </valueCoding>\n            </extension>\n            <extension url=\"period\">\n                <valuePeriod>\n                    <start value=\"1998-04-01\"/>\n                </valuePeriod>\n            </extension>\n        </extension>\n        <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedPeriod\">\n            <extension url=\"dateType\">\n                <valueCoding>\n                    <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-PeriodType\"/>\n                    <code value=\"Operational\"/>\n                    <display value=\"Operational\"/>\n                </valueCoding>\n            </extension>\n            <extension url=\"period\">\n                <valuePeriod>\n                    <start value=\"1998-04-01\"/>\n                </valuePeriod>\n            </extension>\n        </extension>\n        <extension url=\"active\">\n            <valueBoolean value=\"true\"/>\n        </extension>\n    </extension>\n    <extension url=\"https://fhir.nhs.uk/England/StructureDefinition/Extension-England-TypedDateTime\">\n        <extension url=\"type\">\n            <valueCoding>\n                <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSDateTime\"/>\n                <code value=\"LastChangeDate\"/>\n                <display value=\"Last Change Date\"/>\n            </valueCoding>\n        </extension>\n        <extension url=\"dateTime\">\n            <valueDateTime value=\"2023-11-14\"/>\n        </extension>\n    </extension>\n    <identifier>\n        <use value=\"official\"/>\n        <system value=\"https://fhir.nhs.uk/Id/ods-organization-code\"/>\n        <value value=\"RR8\"/>\n        <assigner>\n            <display value=\"HSCIC\"/>\n        </assigner>\n    </identifier>\n    <active value=\"true\"/>\n    <type>\n        <coding>\n            <system value=\"https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType\"/>\n            <code value=\"Full\"/>\n            <display value=\"Full\"/>\n        </coding>\n    </type>\n    <type>\n        <coding>\n            <system value=\"https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass\"/>\n            <code value=\"RC1\"/>\n            <display value=\"HSCOrg\"/>\n        </coding>\n    </type>\n    <name value=\"LEEDS TEACHING HOSPITALS NHS TRUST\"/>\n    <telecom>\n        <system value=\"phone\"/>\n        <value value=\"0113 243 3144\"/>\n    </telecom>\n    <telecom>\n        <system value=\"url\"/>\n        <value value=\"HTTPS://WWW.LEEDSTH.NHS.UK/\"/>\n    </telecom>\n    <address>\n        <extension url=\"https://fhir.hl7.org.uk/StructureDefinition/Extension-UKCore-AddressKey\">\n            <extension url=\"type\">\n                <valueCodeableConcept>\n                    <coding>\n                        <system value=\"https://fhir.hl7.org.uk/CodeSystem/UKCore-AddressKeyType\"/>\n                        <code value=\"UPRN\"/>\n                        <display value=\"Unique Property Reference Number\"/>\n                    </coding>\n                </valueCodeableConcept>\n            </extension>\n            <extension url=\"value\">\n                <valueString value=\"72016246\"/>\n            </extension>\n        </extension>\n        <line value=\"ST. JAMES'S UNIVERSITY HOSPITAL\"/>\n        <line value=\"BECKETT STREET\"/>\n        <city value=\"LEEDS\"/>\n        <postalCode value=\"LS9 7TF\"/>\n        <country value=\"ENGLAND\"/>\n    </address>\n</Organization>\n"
        '404':
          description: 'Invalid ODS Code provided, will return a 404 Not Found error

            '
          content:
            application/fhir+json:
              example:
                resourceType: OperationOutcome
                text:
                  status: generated
                  div: '<div xmlns="http://www.w3.org/1999/xhtml"><h1>Operation Outcome</h1><table border="0"><tr><td style="font-weight: bold;">ERROR</td><td>[]</td><td>HAPI-2001: Resource Organization/8J632648493 is not known</td></tr></table></div>'
                issue:
                - severity: error
                  code: processing
                  diagnostics: 'HAPI-2001: Resource Organization/8J632648493 is not known'
      tags:
      - Organization
