openapi: 3.2.0
info:
  title: organisation-data-terminology-api Code System API
  version: 1.0.1-alpha
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: '## Overview

    Use this API to access a dataset of health and social care organisations, such as trusts or GP practices, using the Organisation Data Service (ODS).'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
tags:
- name: CodeSystem
paths:
  /CodeSystem/:
    get:
      summary: Search for additional instance and reference data
      operationId: search-codesystem
      description: '## Overview


        Use this endpoint to access a range of information contained in CodeSystems to meet your needs.'
      parameters:
      - in: query
        name: system
        description: 'The Unique Resource Indicator (URI) of the codesystem

          '
        required: false
        schema:
          type: string
        examples:
          Organisation-Data:
            summary: ods-organization-code
            value: https://fhir.nhs.uk/Id/ods-organization-code
          Relationship-Data:
            summary: organization-relationship-instance
            value: https://fhir.nhs.uk/Id/ods-organization-code
          practitioner:
            summary: practitioner
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/practitioner
          ODSOrganisationRole:
            summary: ODSOrganisationRole
            value: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
          ODSRecordUseType:
            summary: ODSRecordUseType
            value: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
          ODSRecordUseClass:
            summary: ODSRecordClass
            value: https://fhir.nhs.uk/England/CodeSystem/England-ODSRecordUseType
      - in: query
        name: code
        description: "The code of the concept stored within the CodeSystem  \n"
        required: false
        schema:
          type: string
          example: G7112418
      - in: query
        name: property
        description: "Include all or specific properties from a CodeSystem. \n\nTo return all use asterisk ‘*’ \n\nTo return multiple properties, include each one as a separate parameter \n"
        required: false
        schema:
          type: string
        examples:
          return-all:
            summary: return all properties
            value: '*'
          return-one:
            summary: return a single property
            value: opStartDate
      - in: query
        name: _summmary
        description: "override default behaviour to retreive a subset of the CodeSystem content when searching.\n\n  `data` and `false` will generate errors on larger CodeSystems.\n"
        required: false
        schema:
          type: boolean
          example: false
      responses:
        '200':
          description: Valid request that returns every paramter for a single concept for the specified code.
          content:
            application/json:
              example:
                resourceType: Parameters
                parameter:
                - name: code
                  valueCode: G81086
                - name: display
                  valueString: BIRD-IN-EYE SURGERY
                - name: name
                  valueString: ODS Organisation
                - name: system
                  valueUri: https://fhir.nhs.uk/Id/ods-organization-code
                - name: version
                  valueString: '2024-03-07'
                - name: designation
                  part:
                  - name: use
                    valueCoding:
                      system: http://terminology.hl7.org/CodeSystem/designation-usage
                      code: display
                  - name: value
                    valueString: BIRD-IN-EYE SURGERY
                - name: property
                  part:
                  - name: code
                    valueCode: status
                  - name: value
                    valueCode: active
                - name: property
                  part:
                  - name: code
                    valueCode: RE4
                  - name: value
                    valueCode: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: RE6
                  - name: value
                    valueCode: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: RE8
                  - name: value
                    valueCode: U36842
                - name: property
                  part:
                  - name: code
                    valueCode: inactive
                  - name: value
                    valueBoolean: false
                  - name: valueBoolean
                    valueBoolean: false
                - name: property
                  part:
                  - name: code
                    valueCode: country
                  - name: valueString
                    valueString: ENGLAND
                  - name: value
                    valueString: ENGLAND
                - name: property
                  part:
                  - name: code
                    valueCode: opStartDate
                  - name: valueDateTime
                    valueDateTime: '1974-04-01'
                  - name: value
                    valueDateTime: '1974-04-01'
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC CT4
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: B0N9F
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: B0N9F
                - name: property
                  part:
                  - name: code
                    valueCode: LSOA11
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E01021221
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E01021221
                - name: property
                  part:
                  - name: code
                    valueCode: uprn
                  - name: valueString
                    valueString: '10091054340'
                  - name: value
                    valueString: '10091054340'
                - name: property
                  part:
                  - name: code
                    valueCode: town
                  - name: valueString
                    valueString: UCKFIELD
                  - name: value
                    valueString: UCKFIELD
                - name: property
                  part:
                  - name: code
                    valueCode: postcode
                  - name: valueString
                    valueString: TN22 5AW
                  - name: value
                    valueString: TN22 5AW
                - name: property
                  part:
                  - name: code
                    valueCode: telephone
                  - name: valueString
                    valueString: 01825 763196
                  - name: value
                    valueString: 01825 763196
                - name: property
                  part:
                  - name: code
                    valueCode: NHSER
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: Y59
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: Y59
                - name: property
                  part:
                  - name: code
                    valueCode: EW
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E05011661
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E05011661
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC AS
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: H3F5A
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: H3F5A
                - name: property
                  part:
                  - name: code
                    valueCode: name
                  - name: valueString
                    valueString: BIRD-IN-EYE SURGERY
                  - name: value
                    valueString: BIRD-IN-EYE SURGERY
                - name: property
                  part:
                  - name: code
                    valueCode: PCO
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: 97R
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: 97R
                - name: property
                  part:
                  - name: code
                    valueCode: role
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                - name: property
                  part:
                  - name: code
                    valueCode: role
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO76
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO76
                - name: property
                  part:
                  - name: code
                    valueCode: SMHPC AED
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: R7G8O
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: R7G8O
                - name: property
                  part:
                  - name: code
                    valueCode: primaryRole
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                      code: RO177
                - name: property
                  part:
                  - name: code
                    valueCode: assigningAuth
                  - name: valueString
                    valueString: NHS BUSINESS SERVICES AUTHORITY
                  - name: value
                    valueString: NHS BUSINESS SERVICES AUTHORITY
                - name: property
                  part:
                  - name: code
                    valueCode: CA
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E56000012
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E56000012
                - name: property
                  part:
                  - name: code
                    valueCode: address2
                  - name: valueString
                    valueString: FRAMFIELD ROAD
                  - name: value
                    valueString: FRAMFIELD ROAD
                - name: property
                  part:
                  - name: code
                    valueCode: address1
                  - name: valueString
                    valueString: UCKFIELD COMMUNITY HOSPITAL
                  - name: value
                    valueString: UCKFIELD COMMUNITY HOSPITAL
                - name: property
                  part:
                  - name: code
                    valueCode: lastChangeDate
                  - name: valueDateTime
                    valueDateTime: '2023-08-22'
                  - name: value
                    valueDateTime: '2023-08-22'
                - name: property
                  part:
                  - name: code
                    valueCode: ICB
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: QNX
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: QNX
                - name: property
                  part:
                  - name: code
                    valueCode: GOR
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: J
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: J
                - name: property
                  part:
                  - name: code
                    valueCode: PC
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E14001023
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: E14001023
                - name: property
                  part:
                  - name: code
                    valueCode: LA
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: '815'
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/geography-name
                      code: '815'
                - name: property
                  part:
                  - name: code
                    valueCode: legStartDate
                  - name: valueDateTime
                    valueDateTime: '1974-04-01'
                  - name: value
                    valueDateTime: '1974-04-01'
                - name: property
                  part:
                  - name: code
                    valueCode: orgRecordClass
                  - name: valueCoding
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                      code: RC1
                  - name: value
                    valueCoding:
                      system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSRecordClass
                      code: RC1
                - name: property
                  part:
                  - name: code
                    valueCode: refOnly
                  - name: valueBoolean
                    valueBoolean: false
                  - name: value
                    valueBoolean: false
        4XX:
          description: "\nAn error occurred as follows:\n  \n  | HTTP Code   | issue.severity | issue.code    | issue.details.code  | issue.details.display |\n  |------------ |----------------|---------------|---------------------|---------------------  |\n  |400          |error           |invalid        |HAPI-1940            |Invalid Date/Time/Quantity format |\n  |400          |error           |invalid        |HAPI-0524            |Unknown Search Parameter|\n  |404          |error           |invalid        |HAPI-2001             |Organization not found  |\n  |405          |error           |method not allowed|HAPI-0427         |Method Not Allowed      |\n  |422          |unprocessable   |too-costly     |Too many records requested (Use _count and _offset)|Invalid parameter  |\n  |422          |unprocessable   |processing |No declared filter on Codesystem |An input field has an invalid value for its type  |\n"
      tags:
      - CodeSystem
