openapi: 3.2.0
info:
  title: organisation-data-terminology-api Value Set API
  version: 1.0.1-alpha
  contact:
    name: ODS FHIR API Support
    url: https://digital.nhs.uk/developer/help-and-support
    email: api.management@nhs.net
  description: '## Overview

    Use this API to access a dataset of health and social care organisations, such as trusts or GP practices, using the Organisation Data Service (ODS).'
servers:
- url: https://beta.ods.dc4h.link/fhir/
  description: User acceptance test (UAT) environment.
- url: https://jenkins.ods.dc4h.link/fhir/
  description: Production environment.
tags:
- name: ValueSet
paths:
  /ValueSet/:
    post:
      summary: Perform a ValueSet expansion
      operationId: search-ods-organization-code
      description: '## Overview

        To retrieve a subset of records from an individual CodeSystem, you will need to perform a ''POST'' operation, in which you will provide the details of the CodeSystem you are searching, along with any filters to be applied and properties you wish to include in the results.


        When you make a ''POST'' operation, you perform an expansion on a ValueSet and provide a requestBody. The endpoint will return a successful (200) response code along with the search results, which may be an empty array if no records match your criteria. or an unsuccesful (4xx/5xx) response.'
      requestBody:
        content:
          application/fhir+json:
            example:
              resourceType: Parameters
              parameter:
              - name: valueSet
                resource:
                  resourceType: ValueSet
                  compose:
                    inactive: true
                    include:
                    - system: https://fhir.nhs.uk/Id/ods-organization-code
                      filter:
                      - property: lastChangeDate
                        op: '='
                        value: gt2024-02-01
              - name: activeOnly
                valueBoolean: false
              - name: property
                valueString: primaryRole
              - name: property
                valueString: country
              - name: count
                valueInteger: '2'
      responses:
        '200':
          description: a valid
          content:
            application/fhir+json:
              example:
                resourceType: ValueSet
                expansion:
                  identifier: urn:uuid:7799a8c4-2d2a-4d74-b647-2d50aad98904
                  timestamp: '2024-03-25T14:42:24+00:00'
                  total: 4725
                  offset: 0
                  parameter:
                  - name: version
                    valueUri: https://fhir.nhs.uk/Id/ods-organization-code|2024-03-07
                  - name: used-codesystem
                    valueUri: https://fhir.nhs.uk/Id/ods-organization-code|2024-03-07
                  - name: activeOnly
                    valueBoolean: false
                  - name: count
                    valueInteger: 2
                  contains:
                  - extension:
                    - url: http://hl7.org/fhir/5.0/StructureDefinition/extension-ValueSet.expansion.contains.property
                      extension:
                      - url: code
                        valueCode: primaryRole
                      - url: value
                        valueCoding:
                          system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                          code: RO104
                    - url: http://hl7.org/fhir/5.0/StructureDefinition/extension-ValueSet.expansion.contains.property
                      extension:
                      - url: code
                        valueCode: country
                      - url: value
                        valueString: ENGLAND
                    system: https://fhir.nhs.uk/Id/ods-organization-code
                    code: AT32
                    display: FORGET ME NOT CARING LTD
                  - extension:
                    - url: http://ontoserver.csiro.au/profiles/expansion
                      extension:
                      - url: inactive
                        valueBoolean: true
                    - url: http://hl7.org/fhir/5.0/StructureDefinition/extension-ValueSet.expansion.contains.property
                      extension:
                      - url: code
                        valueCode: primaryRole
                      - url: value
                        valueCoding:
                          system: https://digital.nhs.uk/services/organisation-data-service/CodeSystem/ODSOrganisationRole
                          code: RO172
                    - url: http://hl7.org/fhir/5.0/StructureDefinition/extension-ValueSet.expansion.contains.property
                      extension:
                      - url: code
                        valueCode: country
                      - url: value
                        valueString: ENGLAND
                    system: https://fhir.nhs.uk/Id/ods-organization-code
                    inactive: true
                    code: AT9
                    display: SOUTH EAST LAMBETH HEALTH PARTNERSHIP
        4XX:
          description: "An error occurred as follows:\n\n    | HTTP Code   | issue.severity | issue.code    | issue.details.code  | issue.details.display |\n    |------------ |----------------|---------------|---------------------|---------------------  |\n    |400          |error           |invalid        |HAPI-1940            |Invalid Date/Time/Quantity format |\n    |400          |error           |invalid        |HAPI-0524            |Unknown Search Parameter|\n    |404          |error           |invalid        |HAPI-2001             |Organization not found  |\n    |405          |error           |method not allowed|HAPI-0427         |Method Not Allowed      |\n    |422          |unprocessable   |too-costly     |Too many records requested (Use _count and _offset)|Invalid parameter  |\n    |422          |unprocessable   |processing |No declared filter on Codesystem |An input field has an invalid value for its type  |\n  \n"
      tags:
      - ValueSet
